doctype html
html

head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1.0,minimal-ui')
  title Bloomy Colors - Binzokomegane Girls Union
  link(rel='stylesheet', href='./application.css')
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat:400,700')

body
  .wrap

    .background

    .navbar(role='navigation')
      .container
        a(href="http://binzo.co/" target="blank")
          img(src="images/logo_bnzk.png" alt="bnzklogo" class="logo-bnzk")
        .tweet
          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    .main
      .title.col-4-md.col-md-offset-2
        p n.o.d.e 1st e.p
        h3 Bloomy Colors
        h4 incl. inst ver.

      .info.col-4-md.col-md-offset-7
        p 2015.04.26 M3 2015 Spring
        p か21b 'SKETCH UP! Recordings'
        p 500 yen
        p TANO*C STORE / DICERSE DIRECT

      .footer
        .container.text-center
          span &copy; #{1900 + new Date().getYear()} Binzokomegane Girls Union

  if process.env.NODE_ENV == 'production'
    script(src='./application.js')
  else
    script(data-main='./config.js', src='./vendor/requirejs/require.js')
