extends templates/layout

block body
  section#top.background
    .container.text-center
      .top
        img.logo(src='images/logo.png' alt="Arc Of The Colourless")

      .details.bg-details
        h3 Arc Of The Colourless
        p
          | 「宇宙にいちばん近い場所へ」をテーマに2014年よりスタートしたトランス・パーティ
          br
          | "Stratosphere"が送るコンピレーションアルバム。
          br
          | その栄えある第1弾は、無限に続く宇宙空間を象徴するかのような黒盤、
          br
          | その中に漂い、燦然と耀く星々を象徴するかのような白盤の2枚組。
          br
          | 天空に広がる無色の弧を跨ぎ、見知らぬ世界への旅に出かけよう――。
        h4 成層圏のその先へ。
        table
          tr
            td.left Num.
            td.right STRT-001,STRT-002
          tr
            td.left Spec.
            td.right 2 Disc(Include 19 songs)
                br
                | 特殊パッケージ仕様
          tr
            td.left Price.
            td.right 2,000 yen(Event) / 2,300 yen(Shop)
          tr
            td.left Place.
            td.right
              | C89 2015.12.31(THU)
              br
              | 東ケ-16ab
              br
              | Unitone + Digital Logics
          tr
            td.left Shop.
            td.right
              a(href="http://www.tanocstore.net/shopdetail/000000000663/" target="blank")
                | TANO*C STORE
              | /
              a(href="https://diverse.direct/%E7%93%B6%E5%BA%95%E7%9C%BC%E9%8F%A1%E5%A5%B3%E5%AD%90%E5%90%8C%E7%9B%9F/strt-001/" target="blank")
                | Diverse Direct

        p.jacket-link
          a(href='images/jacket.png' target='blank').
            Jacket Image Download!!

      .disco.bg-disc1
        .soundcloud-disc1
          iframe(width="400" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237665328&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")

        .tracklist-disc1
          h2 Disc 1
          table
            tr
              td.index.tr1 01.
              td.title Ryunosuke Kudo - The Beginning
            tr
              td.index.tr2 02.
              td.title aran - Floria
            tr
              td.index.tr3 03.
              td.title Scarfaith - Zodiac
            tr
              td.index.tr4 04.
              td.title Hommarju - Ground Suns
            tr
              td.index.tr5 05.
              td.title Yooh - SEDNA
            tr
              td.index.tr6 06.
              td.title MK - Orbit
            tr
              td.index.tr7 07.
              td.title Clean Tears - Stratum
            tr
              td.index.tr8 08.
              td.title stereoberry - Blu fiordaliso
            tr
              td.index.tr9 09.
              td.title Alinut - Within The Night of Starfall

      .disco.bg-disc2
        .soundcloud-disc2
          iframe(width="400" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/237665620&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")

        .tracklist-disc2
          h2 Disc 2
          table
            tr
              td.index.tr1 01.
              td.title DJ Noriken - Annular Eclipse
            tr
              td.index.tr2 02.
              td.title Ark-Z  - Re:start feat.Kanae Yume
            tr
              td.index.tr3 03.
              td.title void (Mournfinale) - Sway of the Stars
            tr
              td.index.tr4 04.
              td.title Nago - Earth Glaser
            tr
              td.index.tr5 05.
              td.title Mikoto*aki - Pleiades
            tr
              td.index.tr6 06.
              td.title Bernis - Deep Field
            tr
              td.index.tr7 07.
              td.title 源屋 - euthanasia
            tr
              td.index.tr8 08.
              td.title kanone feat.ぴこ - A Saga of the Earth
            tr
              td.index.tr9 09.
              td.title Junk - Space Brothers
            tr
              td.index.tr10 10.
              td.title Nhato - Returning

      .staff
        h2 Staff
        hr
        table
          tr
            td.left Compose
            td.right
              | DJ Noriken(
              a(href="http://djnoriken.com/" target="blank")
                | Sketch UP! Recordings
              | )
          tr
            td
            td.right
              | aran(
              a(href="http://www.otographicmusic.com/" target="blank")
                | Otographic Music
              | /
              a(href="http://unitone.fm/" target="blank")
                | Unitone
              | )
          tr
            td
            td.right
              | Ryunosuke Kudo(
              a(href="http://www.otographicmusic.com/" target="blank")
                | Otographic Music
              | /
              a(href="http://unitone.fm/" target="blank")
                | Unitone
              | )
          tr
            td
            td.right
              | Alinut(
              a(href="http://digitallogics.net/" target="blank")
                | Digital Logics
              | )
          tr
          tr
            td
            td.right
              | Ark-Z(
              a(href="http://otoyapage.jp/user/momoaki-ark-z" target="blank")
                | Music Mix Organization
              | )
          tr
            td
            td.right
              | stereoberry(Neutrinique | 
              a(href="https://soundcloud.com/stereoberry" target="blank")
                | SC
              | )
          tr
            td
            td.right
              | 源屋(
              a(href="http://minamotrance.com/" target="blank")
                | MINAMOTRANCE
              | )
          tr
            td
            td.right
              | Nago(
              a(href="http://digitallogics.net/" target="blank")
                | Digital Logics
              | )
          tr
            td
            td.right
              | void(
              a(href="http://mournfinale.com/" target="blank")
                | Mournfinale
              | )
          tr
            td
            td.right
              | Clean Tears(
              a(href="http://scx-ct.net/" target="blank")
                | S.C.X
              | )
          tr
            td
            td.right
              | Scarfaith
          tr
            td
            td.right
              | Nhato(
              a(href="http://www.otographicmusic.com/" target="blank")
                | Otographic Music
              | /
              a(href="http://nhato.tumblr.com/" target="blank")
                | Web
              | )
          tr
            td
            td.right
              | Junk(
              a(href="http://blog.livedoor.jp/junk_life5/" target="blank")
                | Junk-Channel
              | )
          tr
            td
            td.right
              | MK(Polyphonix/
              a(href="http://mkjpn.com/" target="blank")
                | Web
              | )
          tr
            td
            td.right
              | Hommarju(S2TB Recording/
              a(href="https://soundcloud.com/hommarju" target="blank")
                | SC
              | )
          tr
            td
            td.right
              | Yooh(
              a(href="http://yoohsicroomz.blog.fc2.com/" target="blank")
                | Yoohsic Roomz
              | )
          tr
            td
            td.right
              | Bernis(
              a(href="http://digitallogics.net/" target="blank")
                | Digital Logics
              | )
          tr
            td
            td.right
              | Mikoto*aki
          tr
            td
            td.right
              | kanone(
              a(href="http://r12rec.com/" target="blank")
                | Route12 Records
              | /(Don't say)Goodbye)
          tr
            td.left Vocal(Tr.2-2)
            td.right
              | Kanae Yume
          tr
            td.left Violin(Tr.2-8)
            td.right
              | ぴこ
          tr
            td.left Design
            td.right
              | ヒトマスモドル(
              a(href="http://zuzu.velvet.jp/oounion/" target="blank")
                | 00union
              | )
          tr
            td.left Visual Graphic
            td.right
              | Ryo Asakura(
              a(href="http://seventh.graphics/" target="blank")
                | Seventhgraphics
              | )
          tr
            td
            td.right
              | Shinichiro Miyazaki(
              a(href="http://lostmeans.net/" target="blank")
                | lostmeans
              | )
          tr
            td.left Mastering
            td.right DJ Noriken
          tr
            td.left Thanks
            td.right YsK439
          tr
            td
            td.right amate-raxi
          tr
            td
            td.right CIRCUS TOKYO
          tr
            td
            td.right All Stratosphre Crowds
          tr
            td.left Produce
            td.right Binzokomegane Girls Union pres. Stratosphere

      .special
        h2 Special
        a(href='http://binzo.co/mntl001/' target='blank')
          img(src='images/drill.png' alt="drill")
          br
          | 同時リリース！ Stratosphere pres. DRILL

      .party
        h2 Release Party

        h3 2.27(Sat) "Stratosphere Vijf" Coming soon...
      .footer
        span &copy 2015 Binzokomegane Girls Union, Stratosphere


