extends templates/layout

block body
  section#top.section-top
    .container.text-center
      .main-image
        .enter-button
    .navbar(role='navigation')
      .container
        a(href="http://binzo.co/" target="blank")
          img(src="images/logo_bnzk.png" alt="bnzklogo" class="logo-bnzk")

  section#main
    subsection#image
      .container.text-center
        img(src='/images/main2.jpg')

    subsection#intro.section-intro
      .container.text-center
        h3 Introduction
        hr
        p 食欲は芸術を凌駕する。
        .info
          table
            tr
              td タイトル
              td ごはん大好き
            tr
              td パッケージ
              td 13 tracks/1disc(プレス)
            tr
              td 価格
              td 1,000 JPY
            tr
              td 頒布
              td M3-2014秋 A-15a "SKETCH UP! Recordings"

    subsection#track.section-track
      .container.text-center
        h3 TrackList
        hr
        table
          tr
            td Alinut
            td Space Curry Roll
            td カレーパン
          tr
            td aran
            td MAGMA ROCK
            td ハンバーグ
          tr
            td Atomic
            td 
            td 鶏の唐揚げ
          tr
            td C-Show
            td K
            td 炭の焼肉 圭
          tr
            td ChankoDiving
            td 
            td お米
          tr
            td DJ Shimamura
            td Fish & Chips
            td つまみ
          tr
            td DOMISO
            td 
            td パスタ
          tr
            td lapix
            td Mushroom Breaks
            td マッシュルーム
          tr
            td n.o.d.e
            td Envelocker
            td 餃子
          tr
            td Ryosuke Tachibana
            td 
            td インドカレー
          tr
            td SAISEN TURN
            td 
            td サンマ
          tr
            td t+pazolite
            td Magic Raffles
            td カレー
          tr
            td かめりあ
            td his valueless world gave us the one ray of light --- it is called soba.
            td そば


    subsection#staff.section-staff
      .container.text-center
        h3 Staff
        hr
        table
          tr
            td: span Composer
            td Alinut(<a href="hoge" target="blank">Digital Logics</a>)
          tr
            td
            td aran
          tr
            td
            td Atomic
          tr
            td
            td C-Show
          tr
            td
            td ChankoDiving
          tr
            td
            td DJ Genki
          tr
            td
            td DJ Shimamura
          tr
            td
            td lapix
          tr
            td
            td n.o.d.e
          tr
            td
            td Ryosuke Tachibana
          tr
            td
            td SAISEN TURN(REDALiCE, Masayoshi Minoshima)
          tr
            td
            td t+pazolite
          tr
            td
            td かめりあ
          tr
            td: span Jacket Illust
            td もみじ真魚(<a href="hoge" target="blank">Digital Logics</a>)
          tr
            td: span Produce & Design
            td Hitomasu Modoru
          tr
            td: span n.o.d.e
            td Norikawa Kensuke(Compose)
          tr
            td
            td Re:Quantizer(Lyric)
          tr
            td
            td RIKA(Vocal)
          tr
            td
            td BUTSU(Vocal)
          tr
            td: span Mastering
            td DJ Noriken
          tr
            td: span Special Thanks
            td Ryo Asakura
          tr
            td
            td Kasdf




 

 
