@import '_config'
@import '../../public/vendor/bootstrap/dist/css/bootstrap.css'


html, body
  margin 0
  padding 0
  width 100%
  height 100%
  font-weight 400
  font-size 14px
  line-height 1.5
  color #fff
  font-family 'Josefin Slab', 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Sans GB', 'メイリオ', Meiryo, Sans-Serif
  text-rendering optimizelegibility
  font-smoothing antialiased

h2
  font-size 36px

h3
  font-size 30px
  margin-bottom 20px

h4
  font-size 25px

a
  outline none !important

.background
  position absolute
  background-image url('./images/bg.svg')
  background-repeat no-repeat
  background-size cover
  background-attachment fixed
  background-position 50%
  z-index 0


@media(max-width:768px)
  .background
    position absolute
    background-image url('./images/bg_sp.jpg')
    background-repeat no-repeat
    background-size cover
    background-attachment fixed
    background-position 50%
    z-index 0


.top
  padding 200px 0

.details
  padding 300px 0
  font-weight bold

  table
    margin 0 auto
    font-size 16px

    td
      padding 5px 0

    td.right
      text-align right
      padding-left 5px

    td.left
      text-align left
      padding-right 5px

  p.jacket-link
    margin-top 15px

@media(max-width:768px)
  .details
    padding 450px 0

.bg-disc1
  background-color #050000

  .tracklist-disc1
    padding 100px

  .soundcloud-disc1
    color #fff
    float right
    margin-top 200px
    margin-right 300px

.bg-disc2
  background-color #faffff
  color #000

  .tracklist-disc2
    padding 100px

  .soundcloud-disc2
    color #fff
    float left
    margin-top 200px
    margin-left 300px

.disco
  font-weight bold

  table
    margin 0 auto
    font-size 16px

    td.index
      background-repeat no-repeat
      background-size contain
      background-position 50%
      padding 15px

    td.title
      text-align left
      padding-left 5px

    td.compose
      text-align right
      padding-left 30px

    td.illust
      text-align left
      padding-left 5px

@media(max-width:768px)
  .disco
    padding-top 50px

  .bg-disc1 .soundcloud-disc1
    float none
    margin 30px 0

  .bg-disc2 .soundcloud-disc2
    float none
    margin 30px 0

.staff
  padding 200px 0

  table
    margin 0 auto
    font-size 16px
    line-height 1.8em

    td.left
      text-align left

    td.right
      text-align right

.special
  padding 250px 0

  h2
    margin-bottom 200px

.party
  background-image url('./images/party.jpg')
  background-repeat no-repeat
  background-size cover
  background-attachment fixed
  background-position 50%
  padding 350px 0

@media(max-width:768px)
  .party
    background none
    padding 350px 0

hr
  border none
  margin 24px auto 48px auto
  width 60px
  height 5px


.navbar
  border-width 0
  transition background 0.18s $easing

  .session .dropdown-toggle
    padding-left 36px
    background-position 6px 13px
    background-size 24px 24px
    background-repeat no-repeat

  &.navbar-transparent
    background-color transparent
    .navbar-toggle
      border-color transparent
    .navbar-collapse
      box-shadow none
      border-top-color transparent

.twitter-button
  position absolute
  top 20px
  left 55px
  z-index 2

.wrap
  height 100%

  section
    display table
    padding-top 50px
    width 100%
    min-height 100%

    .container
      display table-cell
      padding 0
      vertical-align middle

    .footer
      background-color black
      padding-top 20px
      padding-bottom 20px

