@import '_config'

.section-top
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
  background-image url('./images/main.png')
  background-repeat no-repeat
  background-size cover
  background-position 50% 50%
  z-index 20

  &.transition
    transition margin 0.24s cubic-bezier(0.215, 0.61, 0.355, 1)

  img.logo
    width 500px
    margin-top 100px

  .enter-button
    position absolute
    top 50%
    left 50%
    width 320px
    height 150px
    margin-top (-1 * @height / 2)
    margin-left (-1 * @width / 2)

    .fork
      margin-right -92px
      transform rotate(45deg)
      path
        fill white
    .knife
      margin-left -92px
      transform rotate(-45deg)
      path
        fill white
    &:hover
      .fork, .knife
        margin 0
        transform rotate(0deg)
      .enter
        fill white
      path
        fill black
    .fork, .knife, .dish, .enter
      position relative
      display inline-block
      width 100px
      transition all 0.36s cubic-bezier(0.215, 0.61, 0.355, 1)
    .fork, .knife
      z-index 5
    .enter
      position absolute
      top 0
      left 0
      cursor pointer
    .dish, .enter
      width 80px
    svg
      width 100%
      path
        transition fill 0.36s cubic-bezier(0.215, 0.61, 0.355, 1)

.section-intro
  p.catch
    font-size 16px
  tr
    line-height 50px
  img.jacket
    width 350px
    margin 0 auto

.section-track
  .container
    margin 0 auto
  table
    th.track-number
      height 80px
      text-align center
      padding-right 20px
    td.info
      vertical-align bottom
    td.border
      border-width 0 0 2px 0
      border-color $text_color
      border-style dotted
    td.food
      vertical-align top
